/*used to set background color*/
body{
    background-color:rgb(116, 116, 116);
}
p{
    color: black;
}
.header{
    display: flex;
    padding: 20px 16px;
    background:rgb(181, 181, 181);
    color: rgb(31, 31, 31);

    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
}
.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}
.skillsbutton{
    color: black;
    text-decoration: none;
    font-family: monospace;
    font-weight: bold;
    font-size: 17px;

    margin-top: auto;
    margin-bottom: auto;
    margin-left: 30px;
}
.skillsbutton:hover{
    color:whitesmoke;
    transition: ease 500ms;
}
.name-title{
    margin-top:40px;
    margin-left:50%;

    font-family: monospace;
    font-weight: bold;
    font-size: 50px;
}
.main{
    display: flex;
}
.linktree{
    margin-left: 50px;
}
/*main profile pic*/
.prof-pic{
    display: block;

    border-radius: 1%;

    height: 400px;
    width: 100%;
}
.logo-container{
    position: relative;
    width: 66px;
    margin-left: 3px;
}
.pics{
    margin-left:150px;
}
.mnt-pic{
    margin-bottom:50px;
}
.track-pic{
    margin-bottom:50px;
}
/*about me section*/
.aboutme-section{
    margin-left: 50px;
}
.about-me-title{
    font-size: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
    margin-top:50px;

    font-family: monospace;

    color:#1f1f1f;
}
.aboutme{
    font-family: monospace;
    text-align: center;
    font-size: 14px;

    margin-bottom: 50px;
}
/*Linktree text, links, and hover*/
.links1{
    text-decoration: none;
    font-family: monospace;
    color: rgb(47, 47, 47);

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #414141;
    border-width: 3px;
    padding: 20px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;

    font-size: 18px;
}
.links1:hover{
    color: black;
    background-color: #ffffff;
    opacity: 70%;

    transition: ease 900ms;
}
.links2{
    text-decoration: none;
    font-family: monospace;
    color: rgb(47, 47, 47);

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #6f6f6f;
    border-width: 3px;
    padding: 20px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;

    font-size: 18px;
}
.links2:hover{
    color: black;
    background-color: #ffffff;
    opacity: 70%;

    transition: ease 900ms;
}
.links3{
    text-decoration: none;
    font-family: monospace;
    color: rgb(47, 47, 47);

    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 2px solid #a1a1a1;
    border-width: 3px;
    padding: 20px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;

    font-size: 18px;
}
.links3:hover{
    color: black;
    background-color: #ffffff;
    opacity: 70%;

    transition: ease 900ms;
}

/*Skills Header*/
.skills{
    font-size: 20px;
    font-family: monospace;

    display: block;
    text-align: center;

    margin-top: 100px;

    color: #1f1f1f;
}
/*Skills Text*/
.skills-txt{
    font-family: monospace;

    display: block;
    text-align: center;

    margin-top: 20px;
    margin-bottom: 20px;

    color:rgb(255, 228, 194);
}
.skills-txt h1{
    color: #414141;

    margin-right: 33%;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
}
.skills-txt h2{
    color: #383838;

    margin-right: 33%;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
}
.skills-txt h3{
    color: #6f6f6f;

    margin-right: 33%;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
}
.skills-txt h4{
    color: #a1a1a1;

    margin-right: 33%;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
}
.skills-txt h5{
    color: #cfcfcf;

    margin-right: 33%;
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 30px;
}


/*animation for profile pic*/
.card {

    background-color: var(--background);
    display: block;
    width: 300px;
    min-height: 90px;
    cursor: pointer;
    padding: 15px;

    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;

    border: 3px solid var(--primary);
    box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
          20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
          30px -30px 0 -3px var(--background), 30px -30px var(--orange),
          40px -40px 0 -3px var(--background), 40px -40px var(--red);
  }
  
  .card:hover {
    animation: shadow-wave 1s ease infinite;
  }
  
  
  @keyframes shadow-wave {
    0% {
      border: 3px solid var(--primary);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }
    20% {
      border: 3px solid var(--red);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--primary),
        20px -20px 0 -3px var(--background), 20px -20px var(--green),
        30px -30px 0 -3px var(--background), 30px -30px var(--yellow),
        40px -40px 0 -3px var(--background), 40px -40px var(--orange);
    }
    40% {
      border: 3px solid var(--orange);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--red),
        20px -20px 0 -3px var(--background), 20px -20px var(--primary),
        30px -30px 0 -3px var(--background), 30px -30px var(--green),
        40px -40px 0 -3px var(--background), 40px -40px var(--yellow);
    }
    60% {
      border: 3px solid var(--yellow);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--orange),
        20px -20px 0 -3px var(--background), 20px -20px var(--red),
        30px -30px 0 -3px var(--background), 30px -30px var(--primary),
        40px -40px 0 -3px var(--background), 40px -40px var(--green);
    }
    80% {
      border: 3px solid var(--green);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--yellow),
        20px -20px 0 -3px var(--background), 20px -20px var(--orange),
        30px -30px 0 -3px var(--background), 30px -30px var(--red),
        40px -40px 0 -3px var(--background), 40px -40px var(--primary);
    }
    100% {
      border: 3px solid var(--primary);
      box-shadow: 10px -10px 0 -3px var(--background), 10px -10px var(--green),
        20px -20px 0 -3px var(--background), 20px -20px var(--yellow),
        30px -30px 0 -3px var(--background), 30px -30px var(--orange),
        40px -40px 0 -3px var(--background), 40px -40px var(--red);
    }
    
  }
  
  
  :root {
    --primary: #292929;
    --secondary: #e8e8e8;
    --background: #ffb050;
    --green: #414141;
    --yellow: #6f6f6f;
    --orange: #a1a1a1;
    --red: #cfcfcf;
  } 
  
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  body {
    background-image: radial-gradient(var(--secondary) 30%, var(--background) 30%);
    background-size: 2px 3px;
    font-family: "Archivo", sans-serif;
    color: var(--primary);
  }
  
