@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    font-family: 'Press Start 2P', cursive;
    background-color: #000;
    color: #ececec;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.description-text {
    margin-bottom: 25px;
}

header {
    background: #000000;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #e3e3e3;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}

nav ul li a:hover {
    color: #fff707;
}

section {
    padding: 100px 20px;
    text-align: center;
}

#hero {
    background: url('images/background.JPG') no-repeat center center/cover;
    color: #ff23fb;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px #000000;
}

.hero-content {
    animation: fadeInUp 2s ease;
}

.hero-content h1 {
    font-size: 2em;
    margin: 0;
}

.hero-content p {
    font-size: 1em;
    margin: 20px 0;
}

.button {
    padding: 10px 20px;
    background: #ff23fb;
    color: #000;
    border: none;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    transition: background 0.3s ease;
}

.button:hover {
    background: #dcdcdc;
}

#about {
    background-color: #222;
    padding: 50px 20px;
    text-align: center;
    animation: fadeIn 2s ease-in-out;
}

.about-content {
    max-width: 800px;
    margin: 0 auto;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

#about p {
    font-size: 1em;
    line-height: 1.6;
    margin: 20px 0;
}

#projects {
    background-color: #333;
    animation: fadeIn 2s ease-in-out;
}

.project {
    margin: 20px 0;
    transition: transform 0.3s ease;
}

.project:hover {
    transform: scale(1.05);
    color: #ac3fff;
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#game-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border: 1px solid white;
}

canvas {
    background-color: black;
    display: block;
}
