body{
    background-color:rgb(21, 30, 39);
}

.banner{
    position: relative;
    background-color: rgb(0, 0, 0);
    height: 85px;
}

.prof-pic{
    display: block;
    border-radius: 50%;
    height: 250px;
    
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.logo{
    position: absolute;
    display: block;
    margin-left: 8px;
    margin-top: -85px;
}

.container{
    position: relative;
    width: 66px;
    margin-left: 3px;
}

.overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .35s ease;
    background-color: rgb(137, 205, 250);
}

.container:hover .overlay{
    opacity: 100;
    margin-top: -13px;
}

.logo-hover-text{
    font-family: monospace;
    color: rgb(137, 205, 250);
    font-size: 10px;
}

.profile-name{
    font-family: monospace;
    color: rgb(137, 205, 250);
    font-weight: bold;
    text-align: center;
    letter-spacing: 2px;

    padding: 30px;
    font-size: 30px;
}

.about-me-title{
    margin-top: 50px;
    margin-bottom: 10px;
    font-family: monospace;
    text-align: center;

    color:rgb(137, 205, 250);
}

.aboutme{
    font-family: monospace;
    text-align: center;
    
    margin-bottom: 50px;
    color:rgb(137, 205, 250);
}

.links{
    text-align: center;
    margin-top: 20px;
    border: 2px solid rgb(137, 205, 250);
    border-width: 3px;
    padding: 20px;

    width: 290px;
    display: block;
    margin-left: auto;
    margin-right: auto;

    border-radius: 40px;

    font-size: 18px;
}

a{
    text-decoration: none;

    color: rgb(137, 205, 250);
    transition: color 1s;
}

a:hover{
    color: black;

    background-color: rgb(137, 205, 250);
}
